<% flash.each do |type, message| %>
  <% css_class = case type.to_sym
    when :notice then "alert-success"
    when :alert  then "alert-error"
    else "alert-info"
  end %>

  <div role="alert" class="alert <%= css_class %>">
    <span><%= message %></span>
  </div>
<% end %>
