<header class="p-4 bg-yellow-200 sticky top-0 z-50 flex justify-between items-center">
  <div class="inline-block text-3xl font-bold ">
    <%= link_to "UtaMemo", root_path, data: { turbo: false } %>
  </div>
  <div id="header-root"></div>
  
</header>