<p><%= @resource.email %> 様</p>

<p>パスワード再設定のご依頼を承りました。</p>
<p>下記のリンクをクリックして、新しいパスワードを設定してください。</p>

<p>
  <%= link_to '▶ パスワードを再設定する', edit_user_password_url(@resource, reset_password_token: @token) %>
</p>

<p>※このリンクの有効期限にはご注意ください。</p>

<hr class="my-4" />

<p style="font-size: 0.9em; color: #666;">
  We're contacting you to let you know that a password reset was requested for your account.
  If you did not request this, please ignore this message.
</p>
