<div class="bg-red-200">
  <p>artist_name: <%= @memo[:artist_name] %></p>
  <p>titile: <%= @memo[:song_title] %></p>
  <%= react_component("Memos", {memo: @memo.as_json(only:[:id, :memo_components])}, data: { turbo: false })%>
  <% if @lyrics_result %>
    <div class="mx-5 mt-10 mb-10 pt-10"><%= simple_format(h(@lyrics_result)) %></div>
    <div class="text-white font-bold text-3xl py-10 m-10">
    ごめんねー！ライセンスの関係で歌詞ここまでしか取れないんだよね！！
    </div>
  <% else %>
    あれ、なんで取れないんだろうね。。。
  <% end %>
</div>

