<div>
  <p>artist_name: <%= @memo[:artist_name] %></p>
  <p>titile: <%= @memo[:song_title] %></p>
</div>
<%= react_component("Memos", memo_components: @memo[:memo_components])%>

<% if @lyrics_result %>
  <div class="mx-5 mt-10 mb-10 pt-10"><%= @lyrics_result.gsub(/\n/, "<br><br><br><br>").html_safe %></div>
  <div class="text-white font-bold text-3xl py-10 m-10">
  ごめんねー！ライセンスの関係で歌詞ここまでしか取れないんだよね！！
  </div>
<% else %>
  あれ、なんで取れないんだろうね。。。
<% end %>
